@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

::selection {
  background-color: teal;
  color: #f8eaea;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 15%;
  background-color: #ef4444;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: #f7f0f0;
}
